<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% @trainer.pokemons.each do |p| %>
	<%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %>
	<%= p.health %>
	<%= image_tag("pokemon/#{p.ndex}.png", alt: "pokemon") %>
<% end %>
<%= link_to "add a pokemon", add_path(id: current_trainer), :class => "button medium", :method => :get %>
